<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Automation - JAC-RanchiResults" thread-count="5" parallel="tests">
	<listeners>
		<listener class-name="com.qa.utility.ReportGenerate" />
	</listeners>

	<test thread-count="5" name="Functional Testing - JAC 10th Result" parallel="classes" enabled="true">
		<parameter name="Browser" value="Edge" />
		<parameter name="url" value="http://jacresults.com/sec-all/index.php" />
		<parameter name="rollCode" value="22015" />
		<parameter name="rollNumber" value="0001" />
		<classes>
			<class name="com.qa.scripts.JAC_10th_ResultSearch" />
		</classes>
	</test>

	<test thread-count="5" name="Functional Testing - JAC 12th Science Result" parallel="classes" enabled="false">
		<parameter name="Browser" value="Edge" />
		<parameter name="url" value="https://jacresults.com/science/index.php" />
		<parameter name="rollCode" value="22005" />
		<parameter name="rollNumber" value="10001" />
		<classes>
			<class name="com.qa.scripts.JAC_12th_ResultSearch" />
		</classes>
	</test>

	<test thread-count="5" name="Functional Testing - JAC12th Arts Result" parallel="classes" enabled="false">
		<parameter name="Browser" value="Edge" />
		<parameter name="url" value="https://www.jacresults.com/arts/show_result.php" />
		<parameter name="rollCode" value="22005" />
		<parameter name="rollNumber" value="30001" />
		<classes>
			<class name="com.qa.scripts.JAC_12th_ResultSearch" />
		</classes>
	</test>

	<test thread-count="5" name="Functional Testing - JAC12th Commerce Result" parallel="classes" enabled="false">
		<parameter name="Browser" value="Edge" />
		<parameter name="url" value="https://www.jacresults.com/commerce/index.php" />
		<parameter name="rollCode" value="22005" />
		<parameter name="rollNumber" value="20001" />
		<classes>
			<class name="com.qa.scripts.JAC_12th_ResultSearch" />
		</classes>
	</test>

</suite>